<div class="banner" style="background-image:linear-gradient(-200deg, rgba(0,90,168,0.9), 0%, rgba(10,50,61,0.3) 40%), url('<%= image_path("lunch_together.jpg") %>');">
  <div class="banner-content">
    <h2>Don't eat alone, <br>meet interesting people near you.</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-color: #FD6A02;">
          <div class="card-description">
            <h2>Input desired lunch preferences.</h2>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-6">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-color: #FD6A02;">
          <div class="card-description">
            <h2>YOU'VE MATCHED!</h2>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-color: #FD6A02;">
          <div class="card-description">
            <h2></h2>
            <p></p>
          </div>
        </div>
    </div>
  </div>
</div>



