<div class="directions-section">
  <h4 class="directions-title">How to get to <br><strong><%= @lunch_date.venue_name %></strong></h4>
  <ol id="directions"></ol>
  <p><br><%= @lunch_date.vicinity %></p>
</div>


