<div class="directions-section">
  <h4 class="text-center">How to get to <%= @lunch_date.venue_name %></h4>
  <ol id="directions"></ol>
</div>
<p class="text-center"> <strong>Address: <%= @lunch_date.vicinity %></strong></p>