.banner {
  color: white;
  text-align: center;
  height: calc(68vh);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.edit-prof-banner {
  color: white;
  text-align: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.banner h2 {
  font-size: 48px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner-header {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
