.devisebanner {
  color: white;
  height: calc(120vh);
  background-size: cover !important;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  align-items: center;
  opacity: 0.8;
}
.devisebanner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.devisebanner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  // margin-top: 30px;
  margin-bottom: 30px;
}


.banner-header {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.lunch_request_new_map {
  margin-top: 50px;

}
