.lunch_index {
  height: 150px;
  width: auto;
  border-radius: 50%;
  margin: 10px;
  position: relative;
  top: 30px;
}

.history {
  position: relative;
  border: 2px solid black;
  margin: 0 20px;
  padding: 20px;
}
