.matched_them {
  text-align: center;
   margin-right: auto;
  margin-left: 60px;
  padding-bottom: 20px;
}

.matched_address {
  text-align: center;
  margin-left: 150px;

}

.info_title {
  font-size: 32px;
  margin-left: 60px;

}

.bio {
  font-size: 16px;
}

.buddy_info {
  display: flex;
  margin-left: 100px;

}

.buddy_bio {
  margin-top: 30px;
  margin-left: 20px;
}
