.matched_them {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
  background-color: #8EADB7;
}

.matched_address {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
  background-color: #B5BD89;

}

.info_title {
  font-size: 32px;
  margin-left: 60px;

}

.bio {
  font-size: 16px;
}

.buddy_info {
  display: flex;
  margin-left: 100px;

}

.buddy_bio {
  margin-top: 30px;
  margin-left: 20px;
}
