.chat {
  width: 350px;
  height: 80vh;
  max-height: 500px;
  z-index: 2;
  overflow: hidden;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.chat-header {
  flex: 0 1 45px;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 10px 50px;
  border-bottom: 1px solid gray;

}

.messages {
  font-size: 14px;
  color: #868686;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(100vh - 70px - 45px - 61px - 30px);
  overflow: scroll;

}

.message-content {
  border-radius: 3px;
  margin: 0 10px;
  padding:  10px 10px 10px 10px;
}

.message {
  height: 8;
  display: flex;
  border-radius: 3px;
  margin: 10px;
  padding: 0px 10px 0px 10px;
  background-color: #FEBB8C;
  color: #ffffff;
  &.right {
    border-radius: 3px;
  margin: 10px;
  padding: 0px 10px 0px 10px;
    flex-direction: row-reverse;
    background-color: #FD8530;
    color: #ffffff;
  }
}





.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#create-message {
  border: 1px solid gray;
  width: 100%;
  background: #fd6a02;
  padding: 10px;
  position: relative;

  }

.message-input {
  background: none;
    border: none;
    outline: none!important;
    resize: none;
    color: #ffffff;
    font-size: 11px;
    height: 17px;
    margin: 0;
    padding-right: 20px;
    width: 265px;
}

.message-submit {
  position: absolute;
    z-index: 1;
    top: 9px;
    right: 10px;
    background-color: #fd6a02;
    color: #ffffff;
    border: none;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 10px;
    outline: none!important;
    transition: background .2s ease;
    margin-top: 10px;
    margin-right: 5px;
}
.message-submit:hover {
  opacity: 0.6;
}
input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid gray;
    box-shadow: none;
  }
}



