document.querySelector("#score_box").innerText = <%= current_user.score %>;

document.querySelector(".content").insertAdjacentHTML('afterbegin', "<h5>Your Score increase for this request was: <%= @lunch_request.score_increase %></h5>")
