document.querySelector("#score_box").innerText = <%= current_user.score %>;

document.querySelector(".content").insertAdjacentHTML('afterbegin', "<h5>You got <%= @lunch_request.score_increase %> points!</h5>")
